@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import "reset.css";
@import "variable.css";
@import "screens/mainpage.css";
@import "screens/friends.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user_components.css";
@import "components/notice.css";
@import "screens/find.css";
@import "components/icon-row.css";
@import "screens/more.css";
@import "components/alt_screen-header.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "components/only-mobile.css";
body {
  font-family: "Noto Sans KR", sans-serif;
  /* background-color: #b3c6ff; */
  height: 110vh;
  position: relative;
}
