#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 0;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen__channel {
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}
.friends-screen__channel-header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
