.badge {
  background-color: rgb(236, 49, 49);
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 6px;
  font-weight: 400;
  margin-left: 12px;
  margin-bottom: 3px;
}
